
<div class="container">
<table class="table table-condensed">
  <tr>
    <td><%= @game.board[0] %></td>
    <td><%= @game.board[1] %></td>
    <td><%= @game.board[2] %></td>
  </tr>
   <tr>
    <td><%= @game.board[3] %></td>
    <td><%= @game.board[4] %></td>
    <td><%= @game.board[5] %></td>
  </tr>
   <tr>
    <td><%= @game.board[6] %></td>
    <td><%= @game.board[7] %></td>
    <td><%= @game.board[8] %></td>
  </tr>
</table>
</div>