<div class="container">
<% if @game.won? %>
	 <div class="alert alert-info">
        <a href="http://localhost:3000" class="btn btn-xs btn-primary pull-right">New Game</a>
        <strong>WAY TO GO:</strong> YOU WON!
  </div>
  <h3>The word was: <%= @game.answer %></h3>
  <hr>
  <% elsif %>
  <% @game.lost? %>
   <div class="alert alert-info">
        <a href="http://localhost:3000" class="btn btn-xs btn-primary pull-right">New Game</a>
        <strong>SORRY:</strong> YOU LOST!
  </div>
  <h3>The word was: <%= @game.answer %></h3>
<% else %>
  Guess The Answer:
  <hr>
  <h1><%= @game.board %></h1>
  <hr>
  Guesses: <%= @game.guesses %>

  <%=form_tag method: "POST", action: "move" %>
  <input type="input" name="move">
  <button class="btn btn-xs">Submit</button>
  </form>
<% end %>
      
</div>